.eqtree-container-ul, .eqtree-node, .eqtree-children {display:block; margin:0; padding:0; list-style-type:none; list-style-image:none;}
.eqtree-default .eqtree-node {min-width:20px; min-height:19px; margin-left:20px; line-height:1; white-space:nowrap;}
.eqtree-default > .eqtree-container-ul > .eqtree-node {margin:0;}
.eqtree-node > span {display:inline-block; vertical-align:middle;}
.eqtree-default .eqtree-node, .eqtree-default .eqtree-icon {background-color:transparent; background-image:url("http://obrist.somee.com/Content/eqtree/images/32px.png"); background-repeat:no-repeat;}
.eqtree-default .eqtree-node {background-position:-292px -4px; background-repeat:repeat-y;}
.eqtree-default .eqtree-last {background:transparent;}
.eqtree-icon, .eqtree-icon:empty, .eqtree-default a {display:inline-block; height:19px; margin:0; padding:0; text-decoration:none; vertical-align:middle;}
.eqtree-icon, .eqtree-icon:empty {width:20px; text-align:center; cursor:pointer;}
.eqtree-icon.disabled { cursor: default;}
.eqtree-default label {margin-left:3px; margin-bottom: 0px; font-size:13px; color:#000; line-height:22px; white-space:nowrap; cursor:pointer;}
.eqtree-default label:visited, .eqtree-default a:hover, .eqtree-default label:active, .treeClicked, .treeClicked:hover {background:transparent; text-decoration:none; color:#000;}
.eqtree-default label:hover {text-decoration:underline;}
.treeClicked {font-weight:bold;}
.eqtree-default .eqtree-themeicon-custom {background-image:url("http://obrist.somee.com/Content/eqtree/images/departments.png"); background-repeat:no-repeat;}
.eqtree-default.V4 .eqtree-themeicon-custom {background:none;}
.eqtree-default .eqtree-themeicon-custom.tree-department {background-position:0 0;}
.eqtree-default .eqtree-themeicon-custom.tree-department_grey {background-position:-25px 0;}
.eqtree-default .eqtree-themeicon-custom.tree-factory {background-position:0 -25px;}
.eqtree-default .eqtree-themeicon-custom.tree-factory_grey {background-position:-25px -25px;}
.eqtree-default .eqtree-themeicon-custom.tree-globe {background-position:0 -50px;}
.eqtree-default .eqtree-themeicon-custom.tree-globe_grey {background-position:-25px -50px;}
.eqtree-default .eqtree-themeicon-custom.tree-workarea {background-position:0 -75px;}
.eqtree-default .eqtree-themeicon-custom.tree-workarea_grey {background-position:-25px -75px;}
.eqtree-default.V4 .eqtree-themeicon-custom.tree-factory:before, .eqtree-default.V4 .eqtree-themeicon-custom.tree-factory_grey:before {content:"\e90d";}
.eqtree-default.V4 .eqtree-themeicon-custom.tree-department:before, .eqtree-default.V4 .eqtree-themeicon-custom.tree-department_grey:before {content:"\e90f";}
.eqtree-default.V4 .eqtree-themeicon-custom.tree-globe:before, .eqtree-default.V4 .eqtree-themeicon-custom.tree-globe_grey:before {content:"\e90a";}
.eqtree-default.V4 .eqtree-themeicon-custom.tree-workarea:before, .eqtree-default.V4 .eqtree-themeicon-custom.tree-workarea_grey:before {content:"\e930";}
.eqtree-default.V4 .eqtree-themeicon-custom.tree-factory_grey:before, .eqtree-default.V4 .eqtree-themeicon-custom.tree-department_grey:before, .eqtree-default.V4 .eqtree-themeicon-custom.tree-globe_grey:before, .eqtree-default.V4 .eqtree-themeicon-custom.tree-workarea_grey:before {color:#a3a3a3;}
.eqtree-ocl {cursor:pointer;}
.eqtree-leaf > .eqtree-ocl {cursor:default;}
.eqtree-default .eqtree-open > .eqtree-ocl {background-position:-132px -4px;}
.eqtree-default .eqtree-closed > .eqtree-ocl {background-position:-100px -4px;}
.eqtree-default .eqtree-open > .eqtree-ocl.rootName {background-position:-167px -68px;}
.eqtree-default .eqtree-closed > .eqtree-ocl.rootName {background-position:-131px -68px;}
.eqtree-default .eqtree-ocl.rootName.noChild {background-position:-131px -68px; cursor:default;}
.eqtree-default .eqtree-leaf > .eqtree-ocl {background-position:-68px -4px;}
.eqtree-default .eqtree-open > .eqtree-children {display:block;}
.eqtree-default .eqtree-closed > .eqtree-children, .eqtree-default .eqtree-leaf > .eqtree-children {display:none;}

.disabled {opacity:.7; cursor:pointer; pointer-events:none;}
